@font-face {
    font-family: "amsterdamOne";
    src: url("../fonts/Amsterdam.ttf");
    
}

@font-face {
    font-family:"agrandirThin";
    src: url("../fonts/Agrandir-GrandLight.otf")
}

@font-face {
    font-family:"agrandirMedium";
    src: url("../fonts/Agrandir-GrandHeavy.otf")
}
:root {
    /* --primary-site-color: #80431A; */
    --primary-site-color: #FFEEE4;
    --secondary-site-color: #FF8B1F;
    --primary-text-color: black;
    
    --secondary-text-color: #FFEEE4;
    
    font-size: 1rem;
    background-size: 1rem;

}

* {
    background: var(--primary-site-color);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}


.scroll-sections {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

#header {
    background: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center 60%;
    background-size: 30rem
}

/* navigation */
#nav-container{
    height: 10%;
    width: 100%;
    position: fixed;
    background: var(--primary-site-color);
    z-index: 3;
}

#nav-links-container {
    height: 100%;
    list-style: none;
    background: var(--secondary-site-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "agrandirThin";
    color: var(--primary-text-color);
    border-radius: 20px;
    border: 1px solid black;
    margin: 10px;

    
}

.nav-links {
    background: none
}

.nav-links a {
    text-decoration: none;
    background: none;
    color: inherit
}

#cart-link {
    background: none;
}

.snipcart-checkout {
    fill: var(--primary-text-color);
    background: none;;
}

#header-text-and-img {
    height: 50%;
    /* margin: 60px 0 0 0; */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    background: none;

}


#header-text {
    height: 75%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: none;
}


.section-title {
    font-family: "AmsterdamOne";
    font-weight: 100;
    background: none;
}

#header-title {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    font-size: 3rem;
    height: 100%;
}

.section-p {
    font-family: "AgrandirThin";
}

#header-p {
    color: var(--secondary-site-color);
    text-align: center;
    font-family: "AgrandirThin";
    font-size: .5rem;
    z-index: 2;
    margin: -95px 0 0 0;
    height: 5%;
    width: 100%;
    background: none;
}


/* our products */
.product-and-contact {
    text-align: center;
    margin: 100px 0 0 0;
    font-size: 1.2rem;
}

#our-products {
    
}

#product-container {
    height: 75%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

}

.product-img-and-name {
    height: 90%;
    width: 60%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 5px 0;

}

.product-img {
    height: 70%;
    width: 60%;
    align-self: center;
    background-color: #C46A33;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px
}

#body-scrub-img {
    background-image: url(../images/body-butter-pink.jpeg);
}


#body-oil-img {
    background-image: url(../images/body-butter-pink.jpeg);
}


#body-butter-img {
    background-image: url(../images/body-butter-pink.jpeg);
}

.product-name-and-price {
    height: 30%;
    width: 50%;
    display: flex;
    flex-flow: column wrap;

}

.product-name {
    height: 50%;
    text-align: center;
    font-size: .9rem;

}

.product-button {
    height: 50%;
    border-style: none;
    border-radius: 20px;
    background: var(--secondary-site-color);
    color: var(--primary-text-color);
    font-family: "AgrandirThin"
}

#last-container {
    display: none;
}
/* our products */

/* contact us */

#contact-form-container {
    height: 45%;
    background: var(--secondary-site-color);
    border-radius: 20px;
    width: 95%;
    align-self: center;
    margin: 10px 0 0 0

}

#contact-form {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    background: none;
}

#contact-form div {
    background: none;
    height: 2rem;
    width: 100%;
}

input {
    border-style: none;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: var(--secondary-text-color);
    padding: 0 0 0 15px; 
}

input::placeholder {
    font-family: "AgrandirThin";
    color: black;
    font-size: .7rem
    ;opacity: .8;
    
}

#email input, #message input{
    width: 98%;
}

#first-last-name {
    display: flex;
    justify-content: space-between;

}

.first-last-input {
    width: 45%
}

#submit {
    display: flex;
    justify-content: center;
}

#submit input {
    width: 30%;
    text-align: center;
    font-family: "AgrandirMedium";
    font-size: .8rem;
    color: black;
    padding: 0;
}


#stay-updated-container {
    height: 15%;
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 0;
    justify-content: center;
}

#stay-updated-container div {
    height: 100%;
    align-self: center;
}

#stay-updated-title {
    font-family: "AgrandirMedium";
    font-size: 1.3rem;
    height: 40%;
    display: flex;
    align-items: center;
}

#stay-updated-p {
    font-size: .8rem
}

#stay-updated-icon-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#stay-updated-icon-container a {
    height: 1.875rem ;
}


@media screen and (max-width: 3000px) {
    
    #product-container {
        flex-flow: row wrap; 
        justify-content: space-evenly;
    }

    .product-img-and-name {
        height: 30%;
        width: 45%;
    
    }

    #last-container {
        display: flex ;
    }

    .product-name-and-price {
        height: 30%;
        width: 50%;
        display: flex;
        flex-flow: column wrap;
    
    }

    .product-name-and-price {
        width: 100%;
    }

    .product-button {
        width: 75%;
        align-self: center
    }
    
}

@media screen and (min-width: 600px) {
    #header {
        background-position: center 100px;
        background-size: 40rem
    }

    #header-text {
        height: 75%;
        width: 100%;
    }

    #header-title {
        font-size: 4rem;
    }

    #header-p {
        font-size: .7rem;
        z-index: 2;
        margin: -80px 0 0 0;
        height: 5%;
    }

    .product-and-contact {
        font-size: 1.6rem;
    }

    .product-name {
        font-size: 1rem
    }
    
    .product-button {
        width: 50%;
    }

    #contact-form-container {
        height: 50%;
    
    }

    @media screen and (min-width: 1300px) {
        #header {
            background-position: center 150px;
            background-size: 45rem
        }
    
        #header-text {
            height: 75%;
            width: 100%;
        }
    
        #header-title {
            font-size: 5rem;
        }
    
        #header-p {
            font-size: .85rem;
            z-index: 2;
            margin: -80px 0 0 0;
            height: 5%;
        }

        .product-and-contact {
            font-size: 2rem;
        }
    
        .product-name {
            font-size: 1rem
        }
        
        .product-button {
            width: 30%;
        }
    
        #contact-form-container {
            height: 50%;
        
        }
    }    
    
    
}

@media screen and (min-width: 900px) {
    #contact-form-container {
       width: 70%;
    
    }

    #contact-form div {
        height: 2.5rem;
    }
}
