@font-face {
    font-family: "amsterdamOne";
    src: url("../fonts/Amsterdam.ttf");
    
}

@font-face {
    font-family:"agrandirThin";
    src: url("../fonts/Agrandir-GrandLight.otf")
}

@font-face {
    font-family:"agrandirMedium";
    src: url("../fonts/Agrandir-GrandHeavy.otf")
}
:root {
    --primary-site-color: #80431A;
    --secondary-site-color: #FF8B1F;
    --primary-text-color: black;
    
    font-size: 1rem;

}

* {
    background: var(--primary-site-color);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.scroll-sections {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    scroll-margin-top: 80px;
}

#header {
    background: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 210%;
    background-size: 40rem
}

/* navigation */
#nav-container{
    height: 10%;
    width: 100%;
    position: fixed;
    background: none;
}

#nav-links-container {
    height: 100%;
    list-style: none;
    background: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "agrandirThin";
    color: white;
    border-radius: 20px;
    border: 1px solid black;
    margin: 10px;

    
}

.nav-links {
    background: none
}

.nav-links a {
    text-decoration: none;
    background: none;
    color: inherit
}

#cart-link {
    background: none;
}

.snipcart-checkout {
    fill: white;
    background: none;;
}

#header-text-and-img {
    height: 50%;
    margin: 60px 0 0 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    background: none;
    transform: rotate(-5deg)

}


#header-text {
    height: 75%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: none;
}


.section-title {
    font-family: "AmsterdamOne";
    font-weight: 100;
    background: none;
}

#header-title {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    font-size: 4.5rem;
    height: 100%;
}

.section-p {
    font-family: "AgrandirThin";
}

#header-p {
    color: white;
    text-align: center;
    font-family: "AgrandirThin";
    font-size: .8rem;
    z-index: 2;
    margin: -70px 0 0 0;
    height: 5%;
    width: 90%;
    background: none;
}



.shop-and-product {
    text-align: center;
    margin: 100px 0 0 0
}



/* our products */
#our-products {
    
}

#product-container {
    height: 75%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

}

.product-img-and-name {
    height: 90%;
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 5px 0;

}

.product-img {
    height: 70%;
}

.product-name-and-price {
    height: 30%;
    width: 50%;
    display: flex;
    flex-flow: column wrap;

}

.product-name {
    height: 50%;
    text-align: center;
}

.product-button {
    height: 50%;
    border-style: none;
    border-radius: 20px;
    background: var(--secondary-site-color);
    color: white;
    font-family: "AgrandirThin"
}
/* our products */

/* contact us */
#contact{
    background: green;
}

@media (min-width: 600px) {

}