@font-face {
    font-family: "amsterdamOne";
    src: url("../fonts/Amsterdam.ttf");
    
}

@font-face {
    font-family:"agrandirThin";
    src: url("../fonts/Agrandir-GrandLight.otf")
}

@font-face {
    font-family:"agrandirMedium";
    src: url("../fonts/Agrandir-GrandHeavy.otf")
}
:root {
    --primary-site-color: #FFEEE4;
    --secondary-site-color: #FF8B1F;
    --primary-text-color: black;
    
    --secondary-text-color: #FFEEE4;
    
    font-size: 1rem;

}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


body {
    height: 100%;
    width: 100%;
    background: var(--primary-site-color);
    overflow-y: scroll;
    overflow-x: hidden;

}


* {
    margin: 0;
    padding: 0;
}

#header {
    height: 15%
}

#nav-container{
    height: 10%;
    width: 100%;
    position: fixed;
    background: var(--primary-site-color);
    z-index: 3;
}

#nav-links-container {
    height: 100%;
    list-style: none;
    background: var(--secondary-site-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "agrandirThin";
    color: var(--primary-text-color);
    border-radius: 20px;
    border: 1px solid black;
    margin: 10px;

    
}

.nav-links {
    background: none
}

.nav-links a {
    text-decoration: none;
    background: none;
    color: inherit
}

#cart-link {
    background: none;
}

.snipcart-checkout {
    fill: var(--primary-text-color);
    background: none;;
}



#product-images-and-name-container {
    height: 65%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 5px;
}



#main-image-and-arrow-container {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.arrows {
    height: 100%;
    width: 10%;
}

#main-image {
    height: 100%;
    width: 80%;

}

#small-product-images {
    height: 30%;
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: start;
    overflow-x: scroll;
}

.product-images {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

#product-variants-and-button-container {
    height: 20%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
}

.product-name {
    font-family: "AgrandirMedium";
    font-size: 1.5rem;
    align-self: start;
    padding: 0 0 0 10px;
    width: 100%;
    display: flex;
    gap: 40px;
}

.item-price {
    width: 25%;
    font-family: "AgrandirThin";
}

.product-variants {
    height: 15%;
    width: 100%;
    padding: 0;
    display: inherit;
    justify-content: space-between;
    align-items: center;
}

.product-variants select {
    width: 45%;
    height: 100%;
    background: none;
    text-align: center;
    font-family: "AgrandirThin";
    font-size: .7rem;
    border-radius: 5px;
    padding: 2px;
    color: var(--primary-text-color)
}

.product-button {
    height: 15%;
    width: 70%;
    background: var(--secondary-site-color);
    border: 1px solid var(--primary-text-color);
    border-radius: 15px;
    font-family: "AgrandirMedium";
    color: var(--primary-text-color)
}